.content {
    padding-top: 2.5rem;

    @include breakpoint-up("sm") {
        @include two-col-grid;
        column-gap: 4rem;
        align-items: center;
    }

   &__info {
        @include breakpoint-up("lg") {
            @include two-col-grid;
            column-gap: 10rem;
        }

        &-btns {
            padding-top: 1.2rem;

            @include breakpoint-up("lg") {
                display: inline;
                padding-top: 0;
            }
        }
    }

    .card__info-details {
        padding-bottom: 0.9rem;

        &--no-pad {
            @include breakpoint-up("lg") {
                padding-bottom: 0;
            }
        }
    }

    .card__image {
        img {
            border-radius: 0;
        }
    }
}