.card {
  display: block;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem 0 rgb(0 0 0 / 12%);
  background: white;
  cursor: pointer;
  transition: all .2s ease-in-out;

  @include breakpoint-up("md") {
    margin-bottom: 0;

    &:hover {
    transform: scale(1.05);
  }
  }

  &__image {
    width: auto;

    img {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }

  &__info {
    padding: 2.5rem;
    font-size: 1.4rem;

    &-heading {
      padding-bottom: $md;
      font-weight: 900;
    }

    &-details {
      padding-bottom: $xs;
      font-weight: 700;
      font-size: 1.4rem;
    }
  }
}
