body.dark-mode {
    background: $very-dark-blue;
    color: $white;

    & header,
    & .search-input,
    & .lnr-magnifier::before,
    & .ss-single-selected,
    & .ss-content,
    & button,
    & a,
    & .card__info,
    & ::placeholder {
        background: $dark-blue;
        color: $white;
    }

    & .search-input,
    & .main-btn,
    & header,
    & button,
    & img,
    & .ss-single-selected{
        box-shadow: 0 0.2rem 1rem 0 #151d25;
    }

    & header {
        filter: none;
    }

    & button.dark-mode__btn {
        box-shadow: none;
    }

    & .ss-main .ss-single-selected .ss-arrow span {
        border-color: $white;
    }
}